{% extends 'base.html' %}

{% block title %}
    <title>About Page</title>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="grid col-6 col-sm-6 col-md-8 col-lg-8 col-xl-10">
    <div class="A">
            <br>
        <center><h1><b>About This Website</b></h1></center>
    </div>
    <div class="B">
            <br>
            <div class="jumbotron mt-5">
                <h1 class="display-4 center-text"><center><b>How Did I Do It?</b></center></h1>
                    <hr class="my-4">
                <p class="card-text"><center>Insert Summary here</center></p>
                    <p class="lead">
                </p>
            </div>
    </div>
</div>
{% endblock %}