
<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    {% load static from staticfiles %}
    <link rel="stylesheet" href="{% static 'styles.css' %}?{% now 'U' %}">
    {% if user.is_authenticated %}
    {% block title %}

    {% endblock %}

    </head>
    <body>
        <header id="header"></header>
        <button onclick="topFunction()" id="myBtn" title="Go to top"><b>Top</b></button>
        <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
        </script>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar fixed-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><b>MyItemLog</b></a>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item hover">
                        <center><a class="nav-link" href="{% url 'home' %}" style=""><b> Home </b></a></center>
                    </li>
        &nbsp;
                    <li class="nav-item hover">
                        <center><a class="nav-link" href="{% url 'about' %}"><b> About </b></a></center>
                    </li>
            &nbsp;
                    <li class="nav-item hover">
                        <center><a class="nav-link" href="{% url 'contact' %}"><b> Contact </b></a></center>
                    </li>
                    <br>
                    <li class="nav-item dropdown hover">
                        <center><a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% csrf_token %}
                            <b>{{ user.first_name }} {{ user.last_name }}</b>
                        </a>
                        <div class="dropdown-menu bg-dark dark" aria-labelledby="navbarDropdown">
                            <center><a class="dropdown-item hover" href="{% url 'profile' %}"><b>Profile</b></a></center>
                            <center><a class="dropdown-item hover" href="{% url 'logout' %}"><b>Logout</b></a></center>
                        </div>
                        </center>
                    </li>
                </ul>
    {% block search %}

    {% endblock %}
            </div>
        </nav>
    {% block content %}

    {% endblock %}

    {% else %}
        <title>User Not Logged In</title>
        <br>
        <br>
        <br>
        <br>
        <div class="grid col-6 col-sm-6 col-md-8 col-lg-8 col-xl-10">
        <div class="jumbotron">
                <h1 class=" center-text"><center><b>You Are Not Logged In</b></center></h1>
                <br>
                <br>
                <br>
                <h1 class=" center-text"><center><b>Login <a href="{% url 'login' %}">Here </a></b></center></h1>
        </div>
        </div>
    {% endif %}
    </body>
</html>