{% extends 'base.html' %}

{% block title %}
    <title>Contact page</title>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="grid col-6 col-sm-6 col-md-8 col-lg-8 col-xl-10">
    <div class="A">
            <br>
        <center><h1><b>Contact Me</b></h1></b></center>
    </div>
    <div class="jumbotron">
            <br>
                <h1 class="display-5 center-text"><center><b>Feel Free To Contact Me And Check Out My Other Work!</b></center></h1>
                <hr class="my-4">
                </p>
        <p class = "card-text"><h5><center><b>If you have any suggestions you would like to tell me please let me know! If not, don't be afraid to check out my other projects or contact me about any work or project related opportunities!</b></center></h5></p>
                <br>
                <br>
                <br>
                <p class = "card-text"><h1 ><center><b>Thanks For Visiting!</b></center></h1></p>
    </div>
    <br>
    <div class="card border-danger bg-danger" style="width: 18rem;">
        <div class="card-body">
            <center><button type="button" class="btn btn-danger"><a href="https://erick576.github.io/"  class="text-white"><b>Portfolio</b></a></button></center>
        </div>
    </div>

    <div class="card border-dark bg-dark" style="width: 18rem;">
        <div class="card-body">
            <center><button type="button" class="btn btn-dark"><a href="https://github.com/erick576" class="text-white"><b>Github</b></a></button></center>
        </div>
    </div>

    <div class="card border-info bg-info" style="width: 18rem;">
        <div class="card-body">
            <center><button type="button" class="btn btn-info"><a class="text-white" href="https://ca.linkedin.com/in/eric-kwok-61033b187"><b>Linkedin</b></a></button></center>
        </div>
    </div>

    <div class="card border-success bg-success" style="width: 18rem;">
        <div class="card-body">
            <center><button type="button" class="btn btn-success"><a href="mailto:ericn56@hotmail.com" class="text-white"><b>Email Me</b></a></button></center>
        </div>
    </div>
</div>
{% endblock %}