{% extends 'base.html' %}

{% if user.is_authenticated %}
{% block title %}
    <title>Welcome To MyItemLog!</title>
{% endblock %}
{% block content %}
<br>
<br>
<br>
<br>
<div class="grid col-6 col-sm-6 col-md-8 col-lg-8 col-xl-10">
    <div class="A">
        <br>
        <center><h1><b>My Items</b></h1></center>
    </div>
    <br>
    <br>
    <br>
    <center>
    <div class="card border-dark bg-dark itemButton" style="width: 18rem;">
        <div class="card-body">
            <center><a class="nav-link hover" href="{% url 'add-item' %}"><b> Add Item </b></a></center>
        </div>
    </div>
    <div class="card border-dark bg-dark itemButton" style="width: 18rem;">
        <div class="card-body">
            <center><a href="{% url 'delete-all' %}" class="nav-link hover"><b> Delete All </b></a></center>
        </div>
    </div>
    <div class="card border-dark bg-dark itemButton" style="width: 18rem;">
        <div class="card-body">
            <center><a href="{% url 'item-download' %}" class="nav-link hover"><b>Export</b></a></center>
        </div>
    </div>
    </center>
<div class="grid col-6 col-sm-6 col-md-8 col-lg-8 col-xl-10">
        {% for entry in item %}
        <div class="card mt-5 border-dark mb-5" id="entries" style="width: 27rem; height: 30rem;">
            <div class="card-body">
                <h5 class="card-title"><b>Item:</b><br><textarea data-toggle="tooltip" data-placement="bottom" title="My title" style="resize: none;" rows="2" cols="40" readonly>{{entry.Item}}</textarea></h5>
                <p class="card-text"><b>Description:</b> <br><textarea rows="4" cols="50" readonly style="resize: none;">{{entry.Description}}</textarea></p>
                <p class="card-text"><b>Price:</b>{% if entry.Price != Null %} ${% endif %} {{entry.Price}}</p>
                <p class="card-text"><b>Date:</b> {{entry.Date}}</p>
                <p class="card-text"><b>URL:</b>{% if entry.URL != "" %} <a href="{{entry.URL}}">Link</a>{% endif %}{% if entry.URL == "" %} None{% endif %}</p>
                <p class="card-text"><b>Image Link:</b>{% if entry.Picture_URL != "" %} <a href="{{entry.Picture_URL}}">Image Link</a>{% endif %}{% if entry.Picture_URL == "" %} None{% endif %}</p>
                <a href='{{ entry.get_absolute_url_edit }}' class="btn btn-dark hover"><form action="." method="POST">{% csrf_token %}
                    Edit
                </form> </a>
                <a href='{{ entry.get_absolute_url_delete }}' class="btn btn-dark hover"><form action="." method="POST">{% csrf_token %}
                    Delete
                </form> </a>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}

{% block search %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="GET">
        <input class="form-control col-sm-10 col-md-10 col-lg-8 col-xl-8 " name="q" value="{{request.GET.q}}" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 col-sm-2 col-md-2 col-lg-3 col-xl-3" type="submit">Search</button>
    </form>
{% endblock %}
{% endif %}
