{% extends 'base.html' %}

{% block title %}
    <title>Profile page</title>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="grid col-6 col-sm-6 col-md-8 col-lg-8 col-xl-10">
    <div class="A">
        <br>
        <center><h1><b>User Details</b></h1></center>
    </div>
    <br>
    <br>
    <div class="jumbotron">
        <p class = "card-text"><h5><center>First Name: <b>{{ user.first_name }}</b></center></h5></p>
        <p class = "card-text"><h5><center>Last Name: <b>{{ user.last_name }}</b></center></h5></p>
        <p class = "card-text"><h5><center>Username: <b>{{user.username}}</b></center></h5></p>
        <p class = "card-text"><h5 ><center>Email: <b>{{user.email}}</b></center></h5></p>
        <br>
        <br>
        <center><a class="btn btn-dark hover" href="/">Back</a></center>
    </div>
</div>
{% endblock %}