<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        {% load static from staticfiles %}
        <link rel="stylesheet" href="{% static 'styles.css' %}?{% now 'U' %}">
        {% load crispy_forms_tags %}
        <title>Login</title>
    </head>
<body>
    <br>
    <div class="grid col-6 col-sm-6 col-md-8 col-lg-8 col-xl-10">
        <br>
        <br>
        <center><h1> <b>MyItemLog</b> </h1></center>
        <br>
        <center>
        <form method="POST" class="from-group">
            {% csrf_token %}
            {{form|crispy}}
            <button type="submit" class="btn btn-dark hover">Login</button>
            <br>
            <br>
            <p>Dont Have an Account? Create One <a href="{% url 'register' %}" >Here</a></p>
        </form>
        </center>
    </div>
</body>
</html>





