<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        {% load static from staticfiles %}
        <link rel="stylesheet" href="{% static 'styles.css' %}?{% now 'U' %}">
        <title>Edit Item</title>
    </head>
<body>
    <br>
    <div class="grid col-6 col-sm-6 col-md-8 col-lg-8 col-xl-10">
        <div class="A">
            <br>
            <center><h1><b>Edit Item</b></h1></center>
        </div>
        <div class="B">
            <br>
            <div class="jumbotron">
                <center>
               <form action=" " method="POST">{% csrf_token %}
                    {% for field in form %}
                    <div class="field">
                        <label class="label">{{ field.html_name }}</label>
                        <br>
                        <strong>{{ field }}</strong>
                        <br>
                        <br>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-dark hover"><a href="{% url 'home' %}" class="text-white">Cancel</a></button>
                    <input type="submit" value='Save' class="btn btn-dark hover"/>
                </form>
                </center>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</body>
</html>