{% extends 'base.html' %}
{% block title %}
    <title>About Page</title>
{% endblock %}

{% block content %}
<br>
<br>
<br>
<br>
<div class="grid col-6 col-sm-6 col-md-8 col-lg-8 col-xl-10">
    <div class="A">
            <br>
        <center><h1><b>About This Website</b></h1></center>
    </div>
            <br>
            <div class="jumbotron">
                <h2 class=" center-text"><center><b>How Did I Do It?</b></center></h2>
                    <hr class="my-4">
                <p class="text"><center><b>This Website was created using a <a href="https://en.wikipedia.org/wiki/Python_(programming_language)">Python</a> based Web Framework known as <a href="https://en.wikipedia.org/wiki/Django_(web_framework)">Django</a></b></center></p>
                <p class="text"><center><b>The UI of this Website was Created Using <a href="https://en.wikipedia.org/wiki/HTML">HTML</a>, <a href="https://en.wikipedia.org/wiki/Cascading_Style_Sheets">CSS</a>, <a href="https://en.wikipedia.org/wiki/JavaScript">Javascript</a> And <a href="https://en.wikipedia.org/wiki/Bootstrap_(front-end_framework)">Bootstrap</a></b></center></p>
                <p class="text"><center><b>The Database of this Website Is Using <a href="https://en.wikipedia.org/wiki/PostgreSQL">PostgreSQL</a></b></center></p>
                <p class="text"><center><b>This Website is Deployed On <a href="https://en.wikipedia.org/wiki/Heroku">Heroku</a></b></center></p>
                    <p class="lead">
                </p>
            </div>
            <br>
            <div class="jumbotron">
                <h2 class=" center-text"><center><b>What is this Website?</b></center></h2>
                    <hr class="my-4">
                <p class="text"><center><b>This is a Management System where Users can keep a Log of all their Possessions</b></center></p>
                <p class="text end"><center><b>Want To see how I built it? Check out the Github Repository <a class="" href="https://github.com/erick576/MyItemLog">Here</a></b></center></p>
                    <p class="lead">
                </p>
            </div>
            <br>
            <div class="jumbotron">
                <h2 class="center-text"><center><b>How does this Website Work?</b></center></h2>
                    <hr class="my-4">
                <p class="text end"><center><b>To see how to use the Features in this Website please refer to the Documentation <a href="https://github.com/erick576/MyItemLog/blob/master/documentation/User%20Manual.pdf">Here</a></b></center></p>
                    <p class="lead">
                </p>
            </div>
    <br>
    <br>
    <br>
</div>
{% endblock %}